<h2>Houses</h2>

<div class="row">
  <% @houses.each do |house| %>
    <div class="col-md-4 col-xs-12 row">
      <div class="col-xs-12">
        <%= house.address %>
      </div>
      <div class="col-xs-12">
        <%= number_to_currency(house.price, unit: 'CAD$') %>
      </div>
      <div class="col-xs-12">
        <%= house.description %>
      </div>
    </div>
  <% end %>
</div>
