@import "bootstrap";

.body {
  margin-top: 20px;
}

.layout-banner {
  background: lightblue;
  color: white;
  font-weight: bold;
}

form .row {
  margin-top: 15px;
}

form input,
form textarea {
  width: 100%;
}

.alert-alert {
  background: lightpink;
}

.alert-notice {
  background: lightgreen;
}
