<!DOCTYPE html>
<html>
  <head>
    <title>Come By-er</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="row layout-banner">
      <div class="container">
        <h1>Come By.er</h1>
      </div>
    </div>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
